.product-card {
  width: 220px;
  border-radius: 25px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  transition: transform 0.3s ease;
  position: relative;
  box-shadow: 0 4px 6px -6px gray;
  cursor: pointer;
  &:hover {
    transform: translateY(-4px);
    // box-shadow: 0 12px 24px -8px rgba(0, 0, 0, 0.15);
  }

  .background-wrapper {
    position: relative;
    z-index: 1;

    .product-image {
      width: 100%;
      object-fit: contain;
      border-radius: 12px;
      z-index: 1;
      position: relative;
    }
  }

  .info-section {
    padding: 12px;
    border-radius: 25px;
    margin-top: -10px;
    background: #fff; // Optional: ensures info section appears "above"
    position: relative;
    z-index: 2;

    .product-title {
      font-size: 15px;
      font-weight: 600;
      color: #222;
      margin-bottom: 8px;
    }

    .product-rating {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;

      ::ng-deep .p-rating-icon {
        color: #ffc107 !important;
        font-size: 1.1rem;
      }
    }

    .product-price {
      font-size: 14px;
      font-style: italic;
      font-weight: 500;
      color: #2c2c2c;
    }
  }
}
