<footer class="footer text-white p-5 d-flex justify-content-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <ul class="list-unstyled">
            <li><a class="footer-link" routerLink="/">Početna</a></li>
            <li><a routerLink="/shop" class="footer-link">Prodavnica</a></li>
            <li><a routerLink="/kontakt" class="footer-link">Kontakt</a></li>
          </ul>
        </div>
  
        <div class="col-md-4">
          <h5>Kontakt</h5>
          <ul class="list-unstyled">
            <li>Email: info&#64;levelsuplementi.rs</li>
            <li>Telefon: +381 60 123 4567</li>
            <li>Lokacija: Vojvode Misica 38a, Obrenovac</li>
          </ul>
        </div>
  
        <div class="col-md-4">
          <h5>Newsletter</h5>
          <p>Budite infomisani o novostima</p>
          <form>
            <div class="input-group">
              <input type="email" class="form-control" placeholder="Vas email">
              <button class="btn btn-light" type="submit">Pretplati se</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </footer>
