<app-banner-with-picture
[logoIsVisible]="true"
heading="NE PROPUSTITE!"
subtext="LEVEL FITNESS SPECIJALNE PONUDE"
text="Mesečne promocije, besplatni saveti, first minute ponude i još mnogo toga!"
buttonText="PRIJAVI SE"
imgSrc="images/Logo_Teg.png"
imgAlt="Logo_Teg.png">
</app-banner-with-picture>
<div class="banner-wrapper">
  <div class="banner-track">
    <span *ngFor="let i of repeatCount">
      LEVEL UP YOUR FITNESS&nbsp;&nbsp;
    </span>
  </div>
</div>
<app-custom-infinite-carousel [itemsFill]="itemsFill" [widthImg]="200" [caption]="false"></app-custom-infinite-carousel>
<footer class="footer">
  <div class="footer-items">
    <div class="footer-item d-flex flex-column">
      <h3>Nasi Proizvodi</h3>
      <ul class="nav-links ms-3">
        <li><a routerLink="/prodavnica">Proteini</a></li>
        <li><a routerLink="">Kreatin</a></li>
        <li><a routerLink="">Pre-Workout</a></li>
        <li><a routerLink="">Post-Workout</a></li>
        <li><a routerLink="">Aminokiseline</a></li>
        <li><a routerLink="">Sagorevači masti</a></li>
        <li><a routerLink="">Zdravlje</a></li>
      </ul>
    </div>
    <div class="footer-item d-flex flex-column">
      <h3>Level Fitness</h3>
      <ul class="nav-links ms-3">
        <li><a routerLink="">O nama</a></li>
        <li><a routerLink="">Generalni uvoznik IHS</a></li>
        <li><a routerLink="">IHS Technology</a></li>
        <li><a routerLink="">Recepti</a></li>
        <li><a routerLink="">Informacije o porucivanju</a></li>
        <li><a routerLink="">Povrat i reklamacija</a></li>
      </ul>
    </div>
    <div class="footer-item d-flex flex-column">
      <h3>Zapratite nas</h3>
      <ul class="nav-links ms-3">
        <li><a routerLink=""><i class="fa-brands fa-square-instagram"></i>Instagram</a></li>
        <li><a routerLink=""><i class="fa-brands fa-square-facebook"></i>Facebook</a></li>
        <li><a routerLink=""><i class="fa-brands fa-tiktok"></i>TikTok</a></li>
        <li><a routerLink=""><i class="fa-solid fa-envelope"></i>Email</a></li>
      </ul>
    </div>
    <div class="footer-item d-flex flex-column">
      <h3>Kontakt</h3>
      <ul class="nav-links ms-3">
        <li><a routerLink="">Vojvode Mišića 38, Obrenovac</a></li>
        <li><a routerLink="">+381 00 000 0000</a></li>
        <li><a routerLink="">levelsuplementi&#64;viraga.rs</a></li>
      </ul>
    </div>
    <div class="footer-item d-flex flex-column">
      <img src="images/LFS_Logo_crni.png" alt="LevelSuplementiLogoPurple">
    </div>
  </div>
  <div class="black-banner-footer w-100 d-flex justify-content-center">
    <div class="w-100 text-center">LEVEL UP YOUR FITNESS</div>
  </div>
  <div class="rose-banner-footer w-100 row text-black">
    <div class="col-lg-4"></div>
    <div class="col-12 col-lg-4 text-center">Copyright 	&copy; 2025 Level Fitness. All Rights Reserved.</div>
    <div class="col-12 col-lg-4 text-end pe-4">Uslovi koriscenja. Politika privatnosti.</div>
  </div>
</footer>
