<nav class="main-nav">
  <div class="nav-container">
    <div class="menu-toggle" (click)="toggleSideMenu()">
      ☰
    </div>

    <div class="logo ms-md-0 ms-2">
      <a routerLink="/"><img src="images/LevelSuplementiLogo.png" alt="LevelSuplementiLogo" /></a>
    </div>

    <ul class="nav-links mt-3">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/kontakt">Contact</a></li>
    </ul>
  </div>

  <div class="side-menu" [ngClass]="{ 'open': isSideMenuOpen }">
    <div class="close-btn text-white" (click)="closeSideMenu()">✕</div>
    <ul>
      <li><a routerLink="/" (click)="closeSideMenu()">Pocetna</a></li>
      <li><a routerLink="/kontakt" (click)="closeSideMenu()">Kontakt</a></li>
    </ul>
  </div>

  <div
    class="overlay-blur"
    *ngIf="isSideMenuOpen"
    (click)="closeSideMenu()"
  ></div>
</nav>
