<div class="card-product" (click)="onClick()">
    <div class="image-card">
        <img [src]="product.imageUrl" [alt]="product.name" />
    </div>

  <div class="card-content">
    <h5>{{ product.name }} {{ product.weight }}</h5>
    <p class="flavor">{{ product.flavor }}</p>
    <div class="d-flex justify-content-between">
        <div class="rating">
        <span *ngFor="let star of [1,2,3,4,5]" 
                [class.filled]="star <= product.rating">★</span>
        </div>
        <p class="price">{{formattedPrice}}</p>
    </div>
    
  </div>
</div>
