<div class="card-product" (click)="onClick()">
    <div class="image-card">
        <img 
          [src]="'/assets/images/' + (product.variants?.[0]?.sku ?? 'placeholder') + '.jpg'" 
          alt="{{ product.name }}" />
    </div>

  <div class="card-content">
    <h5>{{ product.name }} <p>{{ packSizes }}</p></h5>
    <p class="flavor">{{ flavorNames }}</p>
    <div class="d-flex justify-content-between">
        <div class="rating">
        <!-- <span *ngFor="let star of [1,2,3,4,5]" 
                [class.filled]="star <= product.rating">★</span>
        </div> -->
    </div>
    
  </div>
</div>