.card-product {
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin: 0px 20px;
  cursor: pointer;
    .image-card{
        width: 100%;
        overflow: hidden;
        img {
            max-width: 100%;
            height: auto;
            transition: transform 0.3s ease;
        }
          
} 
    .card-content{
        padding-right: 1rem;
        padding-left: 1rem;
        padding-top: 0.5rem;
    }
    .flavor-container{
          display: flex;
          justify-content: start;
           .flavor-dot {
          display: inline-block;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          margin-right: 6px;
          vertical-align: middle;
        }
      .flavor {
        font-size: 0.9rem;
        color: #555;
      }
    }
  .rating {
    margin: 0.5rem 0;

    span {
      color: #ccc;
      &.filled {
        color: #f5a623;
      }
    }
  }

  .price {
    font-weight: bold;
    margin-top: 0.5rem;
  }
  &:hover .image-card img {
    transform: scale(1.05);
  }
}
@media screen and (max-width: 770px) {
    .card{
        width: 48%;
    }
}
