<!-- Hero Section -->
<div class="d-flex flex-column">
<section class="hero-section">
   
</section>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/High_Kick_start.png" class="d-block w-100" alt="High Kick Start" />
    </div>
    <div class="carousel-item">
      <img src="images/PREVLAKE_6.webp" class="d-block w-100" alt="Prevlake 6" />
    </div>
    <div class="carousel-item">
      <img src="images/proteinbanner.png" class="d-block w-100" alt="Protein Banner" />
    </div>
  </div>
</div>


<app-promo-banner
  [imageSrc]="'images/SEJK.png'"
  [heading]="'IMATE PROBLEM SA VARENJEM?'"

  [subheading]="'JOŠ NISTE PROBALI SUPREME WHEY PROTEIN'"
  [description]="
    'Najnovija IHS SUPREME WHEY formula sadrži DigeZyme®, napredni kompleks digestivnih enzima koji olakšavaju varenje i pomažu telu da izbegne nadutost i osećaj nelagode.'
  "
  [buttonText]="'SAZNAJ VIŠE'"
  [buttonLink]="'/proizvodi/supreme-whey'"
  [reverseOrder]="false"
></app-promo-banner>
<app-promo-banner
  [imageSrc]="'images/SLIKE_SAJT.png'"
  [heading]="'KO SMO MI?'"

  [subheading]="'MI SMO TIM KOJI SE KOPIO SA JEDNOM IDEJOM - DA POSTAVI NOVE STANDARDE'"
  [description]="
    'Bilo da treniraš za vrhunske rezultate ili radiš na boljoj verziji sebe, mi smo tu da te podržimo bey obyira na tvoj cilj. Level je tim koji ti omogućava da podigneš svoj fitness na viši nivo, sa savršenim proizvodima koji će te pratiti na svakom koraku tvog puta.'
  "
  [buttonText]="'POMERI GRANICE SA LEVELOM'"
  [buttonLink]="'/proizvodi'"
  [reverseOrder]="true"
></app-promo-banner>
<app-promo-banner
  [imageSrc]="'images/RECEPTI.png'"
  [heading]="'VERUJEMO DA TIMSKI RAD DONOSI NAJBOLJE REZULTATE'"
  [description]="
    'Zato smo udružili snage sa nutricionistima i fitness instruktorima, i yajedno iydvojili recepte kojima nećete odoleti. Kombinacija ydravlja, vrhunskog kvaliteta i savršenog ukusa - jer najbolji rezultati dolaze kada radimo kao tim.'
  "
  [buttonText]="'KO SU LEVEL AMBASADORI'"
  [buttonLink]="'/proizvodi'"
  [reverseOrder]="false"
></app-promo-banner>
</div>
