@import "../../../styles.scss";
.hero-section {
    padding-top: 155px;
}

@media screen and (max-width: 770px) {
    .hero-section {
        .hero-text-upper{
            width: 100% !important;
            display: flex;
            justify-content: center;
            text-align: center;
        }
        .hero-image {
            display: none;
        }
      }
    
}