<!-- Hero Section -->
<section class="hero-section" ></section>

<app-fade-carousel [images]="carouselImages" (click)="goToProizvodi()"></app-fade-carousel>
<div class="w-100">
  <div class="w-25 proizvodi-btn mx-auto text-center">
    <button class="btn btn-dark-level" (click)="goToProizvodi()">POGLEDAJ SVE PROIZVODE</button>
  </div>
</div>
<div class="w-80 mx-auto">
  <h3 class="ps-5">NAJPRODAVANIJI PROIZVODI</h3>
<app-custom-carousel [products]="products"></app-custom-carousel>
</div>

<app-promo-banner
  [imageSrc]="'images/SEJK.png'"
  [heading]="'IMATE PROBLEM SA VARENJEM?'"

  [subheading]="'JOŠ NISTE PROBALI SUPREME WHEY PROTEIN'"
  [description]="
    'Najnovija IHS SUPREME WHEY formula sadrži DigeZyme®, napredni kompleks digestivnih enzima koji olakšavaju varenje i pomažu telu da izbegne nadutost i osećaj nelagode.'
  "
  [buttonText]="'SAZNAJ VIŠE'"
  [buttonLink]="'/proizvodi/supreme-whey'"
  [reverseOrder]="false"
></app-promo-banner>
<app-promo-banner
  [imageSrc]="'images/SLIKE_SAJT.png'"
  [heading]="'KO SMO MI?'"

  [subheading]="'MI SMO TIM KOJI SE KOPIO SA JEDNOM IDEJOM - DA POSTAVI NOVE STANDARDE'"
  [description]="
    'Bilo da treniraš za vrhunske rezultate ili radiš na boljoj verziji sebe, mi smo tu da te podržimo bey obyira na tvoj cilj. Level je tim koji ti omogućava da podigneš svoj fitness na viši nivo, sa savršenim proizvodima koji će te pratiti na svakom koraku tvog puta.'
  "
  [buttonText]="'POMERI GRANICE SA LEVELOM'"
  [buttonLink]="'/proizvodi'"
  [reverseOrder]="true"
></app-promo-banner>
<app-banner-with-picture
  [bannerIsVisible]="true"
  heading="KVALITET ZASNOVAN NA NAUCI I PRAKSI"
  text="IRON HORSE SERIES - ISH Technology je istaknut proizvođač suplemenata iz Poljske, poznat po vrhunskom kvalitetu, inovativnim formulacijama i saradnji sa profesionalnim sportistima. Njihovi proizvodi su rezultat više od decenije iskustva naučnih istraživanja i praktične primene u sportu."
  buttonText="SAZNAJ VIŠE"
  imgSrc="images/IHSBanner.png"
  imgAlt="IHSBanner.png">
</app-banner-with-picture>
<app-promo-banner
  [imageSrc]="'images/RECEPTI.png'"
  [heading]="'VERUJEMO DA TIMSKI RAD DONOSI NAJBOLJE REZULTATE'"
  [description]="
    'Zato smo udružili snage sa nutricionistima i fitness instruktorima, i zajedno izdvojili recepte kojima nećete odoleti. Kombinacija zdravlja, vrhunskog kvaliteta i savršenog ukusa - jer najbolji rezultati dolaze kada radimo kao tim.'
  "
  [buttonText]="'KO SU LEVEL AMBASADORI'"
  [buttonLink]="'/proizvodi'"
  [reverseOrder]="false"
></app-promo-banner>
<div class="recommended-container">
    <div class="person-card">
      <img src="images/ROZAL.png" alt="MARCIN ROZASKI" class="person-image">
      <div class="person-overlay">
        <h3>MARCIN ROZASKI</h3>
        <p>Opis ubaciti.</p>
      </div>
    </div>
    
    <div class="recommended-banner">PREPORUČILI</div>
    
    <div class="person-card">
      <img src="images/MATERLA.png" alt="MICHAŁ MATERIA" class="person-image">
      <div class="person-overlay">
        <h3>MICHAŁ MATERIA</h3>
        <p>Opis ubaciti.</p>
      </div>
    </div>
</div>
<div class="w-100 bg-paleRose">
    <div class="w-80 mx-auto text-recepti">
      <h3 class="py-3">RECEPTI</h3>
    </div>
    <app-custom-infinite-carousel [itemsFill]="itemsFill" [widthImg]="300"></app-custom-infinite-carousel>
    <div class="line-button-container pb-4">
      <button class="btn btn-dark-level">ŠTA SPREMAŠ DANAS</button>
    </div>
</div>

