@import "../../../styles.scss";
.promo-banner {
  position: relative;
  display: flex;
  height: 700px;
  color: black;
  overflow: hidden;
  z-index: 8;
  text-align: center;
  .image-background {
    flex: 1;
    width: 50%;
    img{
      width: 100%;
    }
  }

  .content {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    max-width: 50%;
    background-color: $paleRose;
    color: $black;
  }
  .btn{
    background-color: black;
    color: white;
  }
  &.reverse {
    flex-direction: row-reverse;
  }

  @media (max-width: 991px) {
    height: auto;

    &.reverse {
      flex-direction: column !important;
    }

    flex-direction: column !important;

    .image-background, .content{
      width: 100%;
    }
    .content{
      max-width: 100% !important;
    }
  }
}
