$purple: rgb(197, 169, 255);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$primary: $purple;

@font-face {
    font-family: "level-fitness-italic";
    src: url("../public/fonts/norwester.otf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: "level-fitness-italic";
    background-color: $white;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: $black;
}

.fade-in {
    animation: fadeIn 0.5s ease-in forwards;
}

.text-purple{
    color: $purple
}

.w-80{
    width: 80%;
}

.btn {
    background-color: $purple;
    color: $white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    border-radius: 8px;

    &:hover {
      background-color: darken($purple, 10%);
    }
  }

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
  